assignment_1/EE3900-2022/
assignment_1/convolution.py
assignment_1/main.out
assignment_1/main.aux
assignment_1/main.log
assignment_1/main.synctex.gz
assignment_1/main.fls
assignment_1/main.fdb_latexmk
assignment_1/main.toc
convolution.py
